@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h3>@ViewBag.Test</h3>
    <h3>@ViewBag.Country.CompanyName</h3>
    <select asp-items="@ViewBag.Country1"></select>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@section Scripts {
    <script>
        @Html.Raw(ViewBag.CustomerCount)
    </script>
}
