@{
    ViewData["Title"] = "全端班首頁";
}
<h2>這是全端班的首頁</h2>
<p>這裡可以寫 HTML 標籤、Bootstrap 結構、甚至引入你的自訂 CSS。</p>

@section Scripts {
    <script>
                         $(document).ready(function(){
                             alert("Hello MVC!");
                         });
    </script>
}
